@import 'nib'
@import 'fuentes'
@import 'normalize'

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_azul = #2369ab
color_azul_claro = #92bbe1
color_rojo = red
color_gris = gray
color_gris_claro = #e6e6e6

a.enlace
	border-color #666
	border-style solid
	border-width 0px 1px 0px 0px
	float left
	font-size .8em
	line-height .5em
	margin 1em .5em
	padding-right 1em
	& p
		margin 0
		padding 3px

figure
	margin 0

body 
	color #141414
	font-family Arial, Helvetica, sans-serif
	font-size 16px
	text-align left

div.popup_anchor
	display block
	height 100px
	width 10%

header
	& ul#menu-ppa
		margin 0 auto
		padding 0
		position relative
	& li.menu-contenedor
		display inline-block
		vertical-align top
		& .menu-item
			color #000
			font-size 9px
			font-weight bold
			padding 10px 14px
			position relative
			text-align center
			&:hover:before
				border-bottom 5px solid #66A0D3
			&:before
				border-bottom 5px solid transparent
				border-left 5px solid transparent
				border-right 5px solid transparent
				border-top 5px solid transparent
				bottom 0px
				content ''
				left 50%
				position absolute
			& > a 
				color #000
				text-decoration none
			&.menu-item-sencillo
				height 44px
				line-height 24px
			&.menu-sin-submenu:before
				border-bottom 5px solid transparent
		& .menu-contenido
			background-color #ECF0F3
			border-color #66A0D3
			border-style solid
			border-width 5px
			display none
			left 0px
			min-height 300px
			position absolute
			top 44px
			width 1024px
			z-index 1000
			& p.titulo
				font-size 12px
				font-weight bold
				& a
					color #0c529a
					text-decoration none

footer
	font-size 12px
	line-height 1.5
	& .enlaces
		padding 5px
		& h4
			color #787979
			font-size 12px
			font-weight bold
			font-weight bold
			margin-bottom 0px
	& ul
		margin 0 
		padding 0
	& li
		list-style none
	& p
		margin 0
		padding 0


.enlaces-secciones-derecha
	& a.enlace 
		float right
	& .formulario-buscar
		float right

.menu_fondo
	background-color #D9E3EC

.fondo_carrusel_principal
	background linear-gradient(top,#074E99 ,#003769 100%)
	color white

.menu_fondo_logo
	background-image url('../images/pasted%20image%20725x113.jpg')
	background-position right -2px
	background-repeat no-repeat
	heigth 119px
	position relative

.formulario-buscar
	float left 
	margin .6em .5em
	position relative
	width 230px
	& input[type="text"]
		font-size 13px
		left 0px
		margin 0
		padding 0
		position absolute
		top -2px
	& input[type="submit"]
		font-size 13px
		position absolute
		right 0px
		top -2px



#logo
	left 0px
	position absolute
	top 0px

#slogan
	bottom 0px
	position absolute
	right 0px



#page
	background-color #FFFFFF
	background-image none
	border-color #000000
	border-style none
	box-shadow 0px 0px 8px 2px rgba(127, 127, 127, 0.5),  0px 17px 8px rgba(0, 0, 0, 0.5)
	margin-left auto
	margin-right auto
	width 1024px
	z-index 1


#page_position_content
	margin-bottom 3px
	margin-top -19px


ul.lista-submenu
	list-style none
	margin 0
	padding 0


ul.lista-submenu li.item
	list-style-image url("../images/bulet_flecha_chica.png")
	margin-left 10px
	& a
		color #0C529A
		font-size 12px
		line-height 1.5
		text-decoration none


.menu-panel 
	background-color #ECF0F3
	border-color #66A0D3
	border-style solid
	border-width 5px
	min-height 239px
	position relative
	width 1014px
	z-index 665


.menu-bloque-categoria
	border-left 1px solid #D4D4D4
	float left
	height 100%
	min-height 300px
	padding 10px
	position relative
	width 200px
	&:first-child
		border-left none

.publicacion
	& .fecha
		position absolute
		top 2px
		right 0px
	& .titulo-publicacion
		margin-bottom 40px
		width 85%
		border-bottom 1px solid gray
	& .extras-publicacion
		margin-bottom 10px
		border-bottom 1px dotted gray
		height 30px
		& a
			font-size 13px
			text-decoration none
			text-transform capitalize
			&:hover
				text-decoration none
	& .contenido-publicacion
		font-family 'Arial', sans-serif
		font-size 13px
		text-align justify

#carruselPrincipal
	& .titulo-carrusel
		font-size 28px
		padding-right 22px
		padding-left 29px
	& .contenido-carrusel
		font-size 16px
		padding-right 22px
		padding-left 29px

.titulo-seccion
	border-style solid
	border-color #666666
	background-color transparent
	font-size 20px
	color #141414
	border-width 0px 0px 1px

.item-noticia
	font-size 14px
	border-style solid
	border-color #666666
	background-color transparent
	color #141414
	border-width 0px 0px 1px
	& .titulo-noticia
		color #0C529A
		font-weight bold
		&:firs-letter
			text-transform uppercase

.item-evento
	background-color transparent
	border-color #666666
	border-style solid
	border-width 0px 0px 1px
	color #141414
	font-size 14px
	overflow hidden
	margin-bottom 10px
	padding-bottom 10px
	& .contenido-evento
		float right
		width 255px
		& .titulo-evento
			color #0C529A
			font-weight bold
			&::firs-letter
				text-transform uppercase
		& .direccion-evento
			font-size 12px
			color #000000
			font-weight normal
		& .links-evento a
			font-size 12px
			color #0C529A
			text-decoration none

& .fecha-evento
	float left
	width 46px
	& .fecha-evento-dia
		border 1px solid #000000
		font-size 20px
		font-weight bold
		height 24px
		line-height 24px
		text-align center
		width 46px
	& .fecha-evento-mes-ano
		color #FFFFFF
		font-size 12px
		font-weight bold
		min-height 33px
		position relative
		text-align center
		width 46px
		&.taller
			background-color #EC692A
		&.seminario
			background-color #19B89C
		&.sesion
			background-color #4381C8
		&.diplomado
			background-color #E62C2D

.left-nav
	& ul
		margin 0
		padding-left 0
	& li
		list-style none
	& .nav-head
		background-color #005AB7
		font-size 1em
		padding 5px
	& .links-nav a
		font-size 12px
		color #0C529A
		text-decoration none		
		&:hover
			text-decoration none
	& .nav-list ul li
		float left
		margin 0
		padding 0 0 1px 0
		list-style-type none
		background url(/images/list-bg.gif) repeat-x bottom left
		width 142px
	& .nav-list ul li a 
		float left
		padding 2px 0 5px 3px
		text-decoration none
		font-family Arial, Helvetica, sans-serif
		font-size 13px
		font-weight normal	
		&.link-nav-categoria
			color #000000
		&.publicacion-actual
			font-weight bold

.lista-categorias-eventos
	position absolute
	top 5px
	right 10px
	& .lista-categorias-evento
		font-size 13px


.cuadro 
	width 20px
	height 20px
	&.taller
		background-color #EC692A
	&.seminario
		background-color #19B89C
	&.sesion
		background-color #4381C8
	&.diplomado
		background-color #E62C2D

.calendario
	float right
	& .nombre-mes
		line-height 16px
		font-size 16px
		display block
		text-align center
		background #005ab7
		& span
			height 33px
			display block
			padding-top 8px
			color white

.padding
	padding 16px

.libreria
	h1
		font-size 24px
		&:first-letter
			text-transform uppercase 
		& ~ div p
			font-size 12px
			font-weight bold
			line-height 12px
			margin none
	& .categoria-libreria > h2
		font-size 18px
		font-weight normal
		background-color color_azul
		color white
		text-transform uppercase
		margin 0px 0px 10px
		padding 5px 0px 5px 15px
		border-radius 3px
	& .selector-libreria > select
		padding 3px
		margin 0
		border-radius 4px
		font-size 18px
		box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
		background #f8f8f8
		color #888
		border none
		outline none
		display inline-block
		cursor pointer
	& ul.lista-libreria
		margin 0
		padding 0
		& .item-libreria
			list-style none
			width 100%
			& figure
			& .contenido-item-libreria
				display inline-block
				vertical-align top
			& figure img
				max-width 200px
			& .contenido-item-libreria
				width 430px
				min-height 200px
				padding-bottom 50px
				position relative
			& .contenido-item-libreria > h3 
				font-size 16px
				font-weight normal
				background-color green
				color white
				padding 3px
				border-radius 3px
			& .contenido-item-libreria .detalles
				color color_gris
				font-size 12px
				line-height 12px
			& ul
				margin 0
				padding 0
			& li 
				list-style none
			& p
				margin 5px 0px
			& .contenido-item-libreria .descripcion
				color color_azul
				font-size 14px
				text-align justify
			& .contenido-item-libreria .adquirirLibro
				margin-top 10px
				padding 10px
				color white
				background-color green
				text-transform uppercase
				border none
				border-radius 5px
				position absolute
				bottom 0px
				right 0px
				
.accesos-vip
	text-align center

.bootstrap-frm
	margin-left auto
	margin-right auto
	max-width 500px
	background #FFF
	padding 20px 30px 20px 30px
	font 12px "Helvetica Neue", Helvetica, Arial, sans-serif
	color #888
	text-shadow 1px 1px 1px #FFF
	border-radius 3px
    & .form-group
		display block
		margin 0px 0px 5px
		position relative
        &>label 
			float left
			width 20%
			text-align right
			padding-right 10px
			margin-top 10px
			color #333
			font-family "Helvetica Neue", Helvetica, Arial, sans-serif
			font-weight bold
			text-transform capitalize
			font-size 14px
    	& input[type="text"],
    	& input[type="password"], 
    	& input[type="email"], 
    	& textarea, 
    	& select 
			border 1px solid #CCC
			color #888
			height 30px
			font-size 15px
			line-height 15px
			margin-bottom 16px
			margin-right 6px
			margin-top 2px
			outline 0 none
			padding 10px 5px
			width 70%
			border-radius 4px
			height 40px
			box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
		& select 
			background #FFF url('down-arrow.png') no-repeat right
			background #FFF url('down-arrow.png') no-repeat right
			appearance none
			-webkit-appearance none 
			-moz-appearance none
			text-indent 0.01px
			text-overflow ''
			width 70%
			height 35px
			line-height 15px
	    & textarea 
			height 100px
			padding 5px 0px 0px 5px
			width 70%
	    & input[type="submit"] 
			background #FFF
			border 1px solid #CCC
			padding 10px 25px 10px 25px
			color #333
			border-radius 4px
		& input[type="submit"]hover 
			color #333
			background-color #EBEBEB
			border-color #ADADAD
		& span.errores 
			color red
			position relative
			top -10px
			left 112px
		& span.errores ul 
			margin 0
			padding 0
    	& span.errores ul li 
			list-style none