<ul>
    {% for key, value in tipos %}
        <li>
            <a href="{{ path('categorias_publicaciones',{'tipoCategoria': key }) }}"> 
                <span>{{ value }}</span>
            </a> 
        </li>
    {% endfor %}
</ul>