#u10959
{
	border-style: solid;
	border-color: #D0D0D0;
	background-color: #EBF3F6;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#u16114,#u11250
{
	position: relative;
}

#u11253,#u11245,#u11243,#u10965
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10964-4
{
	background-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

