#u20165
{
	border-style: solid;
	border-color: #D0D0D0;
	background-color: #EBF3F6;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#u20166,#u20895
{
	position: relative;
}

#u57825
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u20771,#u20176,#u20174,#u20773
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20162-4
{
	background-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

