#u9942
{
	border-style: solid;
	border-color: #D0D0D0;
	background-color: #EBF3F6;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#u9981-4
{
	border-style: solid;
	border-color: #787979;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9980
{
	border-width: 1px;
	border-style: solid;
	border-color: #CECDCD;
	background-color: #F0F0EF;
	position: relative;
}

#u10356,#u10358,#u10354,#u9753
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9934-6
{
	background-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

#u9945,#slideshowu9982
{
	position: relative;
}

#u10152
{
	position: absolute;
	background-color: transparent;
}

#u10181,#u10193,#u10199,#u10249,#u10173,#u10201,#u10189,#u10179,#u10155,#u10169,#u10205,#u10153,#u10233,#u10185,#u10163,#u10223,#u10177,#u10207,#u10187,#u10159,#u10245,#u10195,#u10191,#u10175,#u10197,#u10215,#u10209,#u10213,#u10241,#u10167,#u10221,#u10239,#u10203,#u10227,#u10235,#u10165,#u10229,#u10243,#u10219,#u10171,#u10211,#u10225,#u10161,#u10157,#u10231,#u10217,#u10247,#u10183,#u10237
{
	border-width: 1px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	position: relative;
}

#u10181_clip,#u10193_clip,#u10199_clip,#u10249_clip,#u10173_clip,#u10201_clip,#u10189_clip,#u10179_clip,#u10155_clip,#u10169_clip,#u10205_clip,#u10153_clip,#u10233_clip,#u10185_clip,#u10163_clip,#u10223_clip,#u10177_clip,#u10207_clip,#u10187_clip,#u10159_clip,#u10245_clip,#u10195_clip,#u10191_clip,#u10175_clip,#u10197_clip,#u10215_clip,#u10209_clip,#u10213_clip,#u10241_clip,#u10167_clip,#u10221_clip,#u10239_clip,#u10203_clip,#u10227_clip,#u10235_clip,#u10165_clip,#u10229_clip,#u10243_clip,#u10219_clip,#u10171_clip,#u10211_clip,#u10225_clip,#u10161_clip,#u10157_clip,#u10231_clip,#u10217_clip,#u10247_clip,#u10183_clip,#u10237_clip
{
	overflow: hidden;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

