<div class="PamphletWidget clearfix grpelem" id="accesoRapido"><!-- none box -->
    <div class="popup_anchor" id="u1285popup">
        <div class="ContainerGroup clearfix" id="u1285"><!-- stack box -->
            <div class="Container clearfix grpelem" id="u1296"><!-- group -->
                <div class="clearfix grpelem" id="u1297-21"><!-- content -->
                    <p id="u1297-2">La ICC ofrece una gran variedad de servicios de resolución de disputas para ayudar a solucionar las controversias que surgen en los negocios internacionales.</p>
                    <p id="u1297-3">&nbsp;</p>
                    <p id="u1297-6"><a class="nonblock" href="mediacion.html">&#45; Mediación</a></p>
                    <p id="u1297-8"><a class="nonblock" href="">&#45; Cláusulas estándar</p>
                    <p id="u1297-10"><a class="nonblock" href="">&#45; Reglas</p>
                    <p id="u1297-12"><a class="nonblock" href="">&#45; Presentar una solicitud de arbitraje</p>
                    <p id="u1297-14"><a class="nonblock" href="">&#45; Costos y formas de pago</p>
                    <p id="u1297-16"><a class="nonblock" href="">&#45; Árbitro de emergencia</p>
                    <p id="u1297-18"><a class="nonblock" href="">&#45; Presentar una solicitud de ADR</p>
                    <p id="u1297-19"><a class="nonblock" href="">&nbsp;</p>
                </div>
            </div>
            <div class="Container invi clearfix grpelem" id="u1291"><!-- group -->
                <div class="clearfix grpelem" id="u1292-20"><!-- content -->
                    <p id="u1292-2">Las reglas de la ICC son utilizadas en miles de transacciones diarias y se han vuelto una parte esencial del comercio internacional.</p>
                    <p id="u1292-3">&nbsp;</p>
                    <p id="u1292-6"><a class="nonblock" href="incoterms.html">&#45; Reglas Incoterms® 2010</a></p>
                    <p id="u1292-8"><a class="nonblock" href="http://www.iccmex.mx/cdigo_consolidado-icc.pdf">&#45; Código Consolidado de Mercadotecnia y Publicidad de la ICC</p>
                    <p id="u1292-11"><a class="nonblock" href="contratos-y-modelos.html">&#45; Contratos modelo y cláusulas</a></p>
                    <p id="u1292-14"><a class="nonblock" href="g20.html">&#45; G20</a></p>
                    <p id="u1292-17"><a class="nonblock" href="areas-de-trabajo.html">&#45; Áreas de trabajo de la ICC</a></p>
                    <p id="u1292-18">&nbsp;</p>
                </div>
            </div>
            <div class="Container invi clearfix grpelem" id="u1286"><!-- group -->
                <div class="clearfix grpelem" id="u1287-15"><!-- content -->
                    <p id="u1287-2">Desde el monitoreo de la piratería marítima hasta un estudio de la apertura de mercados, los estudios y reportes de la ICC son una fuente fiable y creíble de información.</p>
                    <p id="u1287-3">&nbsp;</p>
                    <p id="u1287-6"><a class="nonblock" href="indice-de-apertura.html">&#45; Índice de apertura de mercados</a></p>
                    <p id="u1287-9"><a class="nonblock" href="encuesta-economica.html">&#45; Encuesta sobre el Clima Económico Global</a></p>
                    <p id="u1287-12"><a class="nonblock" href="combate-a-la-pirater%c3%ada-y-falsificaci%c3%b3n.html">&#45; Reporte de Piratería en Alta Mar</a></p>
                    <p id="u1287-13">&nbsp;</p>
                </div>
            </div>
            <div class="Container invi clearfix grpelem" id="u1333"><!-- group -->
                <div class="clearfix grpelem" id="u1366-17"><!-- content -->
                    <p id="u1366-2">La ICC facilita el intercambio comercial a través de las fronteras en todo el mundo ofreciendo una gran variedad de productos indispensables.</p>
                    <p id="u1366-3">&nbsp;</p>
                    <p id="u1366-5">&#45; Certificados de origen</p>
                    <p id="u1366-8"><a class="nonblock" href="ata-carnet.html">&#45; ATA Carnet</a></p>
                    <p id="u1366-11"><a class="nonblock" href="contratos-y-modelos.html">&#45; Contratos modelo</a></p>
                    <p id="u1366-14"><a class="nonblock" href="incoterms.html">&#45; Reglas Incoterms® 2010</a></p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="Container invi clearfix grpelem" id="u1341"><!-- group -->
                <div class="clearfix grpelem" id="u1367-16"><!-- content -->
                    <p id="u1367-2">La ICC lucha en contra de todos los tipos de crímenes que afecten a las empresas.</p>
                    <p id="u1367-3">&nbsp;</p>
                    <p id="u1367-6"><a class="nonblock" href="anticorrupcion.html">&#45; Anticorrupción</a></p>
                    <p id="u1367-9"><a class="nonblock" href="combate-a-la-pirater%c3%ada-y-falsificaci%c3%b3n.html">&#45; Piratería en Alta Mar</a></p>
                    <p id="u1367-13"><a class="nonblock" href="combate-a-la-pirater%c3%ada-y-falsificaci%c3%b3n.html">&#45; Acción Empresarial para Combatir la Piratería y Falsificación</a></p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ThumbGroup clearfix grpelem" id="u1305"><!-- none box -->
        <div class="popup_anchor">
            <div class="Thumb popup_element rounded-corners clearfix" id="u1308"><!-- group -->
                <div class="clearfix grpelem" id="u1309-4"><!-- content -->
                    <p>Solución de controversias y arbitraje</p>
                </div>
            </div>
        </div>
        <div class="popup_anchor">
            <div class="Thumb popup_element rounded-corners clearfix" id="u1310"><!-- group -->
                <div class="clearfix grpelem" id="u1311-4"><!-- content -->
                    <p>Reglas y apoyo en el diseño de políticas públicas</p>
                </div>
            </div>
        </div>
        <div class="popup_anchor">
            <div class="Thumb popup_element rounded-corners clearfix" id="u1306"><!-- group -->
                <div class="clearfix grpelem" id="u1307-4"><!-- content -->
                    <p>Estudios y reportes</p>
                </div>
            </div>
        </div>
        <div class="popup_anchor">
            <div class="Thumb popup_element rounded-corners clearfix" id="u1339"><!-- group -->
                <div class="clearfix grpelem" id="u1307-4"><!-- content -->
                    <p>Certificados de origen</p>
                </div>
            </div>
        </div>
        <div class="popup_anchor">
            <div class="Thumb popup_element rounded-corners clearfix" id="u1342"><!-- group -->
                <div class="clearfix grpelem" id="u1365-4"><!-- content -->
                    <p>Combate al crimen comercial</p>
                </div>
            </div>
        </div>
    </div>
</div>
