<div class="position_content" id="aside_position_content">
    <div class="clearfix colelem" id="u1268-4"><!-- content -->
        <p>Redes Sociales</p>
    </div>
    <div class="colelem" id="u1888"><!-- custom html -->
        <div class="fb-like" data-href="https://www.facebook.com/pages/ICC-M%C3%A9xico/149175608474960" data-width="322" data-show-faces="false" data-send="true"></div>
    </div>
    <div class="colelem" id="u70"><!-- custom html -->
        <a class="twitter-timeline" href="https://twitter.com/ICCMEXICO" data-widget-id="374929849804025856">Tweets por @ICCMEXICO</a>
        <script>!function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
    </div>
    <div class="colelem" id="u61193"><!-- custom html -->
        <iframe width="270" height="250" src="//www.youtube.com/embed/mK-LH7eAM8k" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clip_frame colelem" id="u1651" ><a href="icc-mex-2014.html"><!-- image --><img class="block" id="u1651_img" src="/images/icc.png" alt="" width="310" height="86"/>
    </div>
    <a class="nonblock nontext clip_frame colelem" id="u1610" href="http://iccmex.mx/programa_accion-2014.pdf"><!-- image --><img class="block" id="u1610_img" src="/images/programa_accion-2014.png" alt="" width="310" height="86"/></a>
    <a class="nonblock nontext clip_frame colelem" id="u1610" href="http://www.iccmex.mx/informe_presidencia-2014.pdf"><!-- image --><img class="block" id="u1610_img" src="/images/informe_actividades-2014.png" alt="" width="310" height="86"/></a>
</div>