<ul id="carruselPrincipal" class="fondo_carrusel_principal">
    <li style="width: 1024px;" class="item-carrusel fondo_carrusel_principal"><!-- group -->
        <div style="width: 331px;float: left;"><!-- content -->
            <p>&nbsp;</p>
            <p class="titulo-carrusel">Publicación del mes</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="contenido-carrusel">El Modelo Contrato de Compraventa Internacional es una herramienta de ahorro de tiempo para los comerciantes, hombres de negocios, abogados y todas las partes involucradas en importaciones y exportaciones transfronterizos, transacciones de ventas.</p>
        </div>
        <div style="width: 663px;float: right"><!-- image -->
            <div id="u903_clip">
                <a href="http://www.iccmex.mx/noticias/2014/marzo/publicacion_mes-marzo-2014.html">
                <img class="position_content" id="u903_img" src="/images/banner-publicacion-2014.jpg" alt="" width="687" height="397"/>
                </a>
            </div>
        </div>
    </li>
    <li style="width: 1024px;" class="item-carrusel fondo_carrusel_principal"><!-- group -->
        <div style="width: 331px;float: left;"><!-- content -->
            <p>&nbsp;</p>
            <p class="titulo-carrusel">Competencia Económica</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="contenido-carrusel">...</p>
        </div>
        <div style="width: 663px;float: right"><!-- image -->
            <div id="u919_clip">
                <a href="eventos/lll_taller_competencia_economica/lll_taller_competencia_economica.html">
                    <img class="position_content" id="u919_img" src="/images/banner-evento-2014.jpg" alt="" width="687" height="397"/>
                </a>
            </div>
        </div>
    </li>
    <li style="width: 1024px;" class="item-carrusel fondo_carrusel_principal"><!-- group -->
        <div style="width: 331px;float: left;"><!-- content -->
            <p>&nbsp;</p>
            <p class="titulo-carrusel">&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="contenido-carrusel">La International Chamber of Commerce (ICC), lanza una encuesta mundial para identificar las barreras nacionales que enfrentan los comerciantes cuando utilizan las reglas Incoterms® 2010.</p>
        </div>
        <div style="width: 663px;float: right"><!-- image -->
            <div id="u919_clip">
                <a href="n-27may14.html">
                    <img class="position_content" id="u919_img" src="/images/banner-noticia-2014.jpg" alt="" width="687" height="397"/>
                </a>
            </div>
        </div>
    </li>
    <li style="width: 1024px;" class="item-carrusel fondo_carrusel_principal"><!-- group -->
        <div style="width: 331px;float: left;"><!-- content -->
            <p>&nbsp;</p>
            <p class="titulo-carrusel">Postura ICC México</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="contenido-carrusel">Durante el desarrollo del evento se presentaron grandes inquietudes y puntos controversiales de parte de los expertos, integrantes del sector energético, en relación con las iniciativas de las leyes secundarias.</p>
        </div>
        <div style="width: 663px;float: right"><!-- image -->
            <div id="u919_clip">
                <a href="n-10jun14.html">
                    <img class="position_content" id="u919_img" src="/images/banner-postura-2014.jpg" alt="" width="687" height="397"/>
                </a>
            </div>
        </div>
    </li>
</ul>
