<div class="ContainerGroup clearfix" id="u554"><!-- carrusel principal -->
    <div class="Container clearfix grpelem" id="u555"><!-- group -->
        <div class="gradient clearfix grpelem" id="u611-9"><!-- content -->
            <p id="u611">&nbsp;</p>
            <p id="u611-3">Publicación del mes</p>
            <p id="u611-4">&nbsp;</p>
            <p id="u611-5">&nbsp;</p>
            <p id="u611-7">El Modelo Contrato de Compraventa Internacional es una herramienta de ahorro de tiempo para los comerciantes, hombres de negocios, abogados y todas las partes involucradas en importaciones y exportaciones transfronterizos, transacciones de ventas.</p>
        </div>
        <div class="clip_frame clearfix grpelem" id="u903"><!-- image -->
            <div id="u903_clip">
                <a href="http://www.iccmex.mx/noticias/2014/marzo/publicacion_mes-marzo-2014.html"</a><img class="position_content" id="u903_img" src="/images/banner-publicacion-2014.jpg" alt="" width="687" height="397"/>
            </div>
        </div>
    </div>
    <div class="Container invi clearfix grpelem" id="u557"><!-- group -->
        <div class="gradient clearfix grpelem" id="u785-12"><!-- content -->
            <p id="u785">&nbsp;</p>
            <p id="u785-3">Competencia Económica</p>
            <p id="u785-4">&nbsp;</p>
            <p id="u785-5">&nbsp;</p>
            <p id="u785-8">...</p>
        </div>
        <div class="clip_frame clearfix grpelem" id="u919"><!-- image -->
            <div id="u919_clip">
                <a href="eventos/lll_taller_competencia_economica/lll_taller_competencia_economica.html"</a><img class="position_content" id="u919_img" src="/images/banner-evento-2014.jpg" alt="" width="687" height="397"/>
            </div>
        </div>
    </div>
    <div class="Container invi clearfix grpelem" id="u557"><!-- group -->
        <div class="gradient clearfix grpelem" id="u785-12"><!-- content -->
            <p id="u785">&nbsp;</p>
            <p id="u785-3"></p>
            <p id="u785-4">&nbsp;</p>
            <p id="u785-5">&nbsp;</p>
            <p id="u785-8">La International Chamber of Commerce (ICC), lanza una encuesta mundial para identificar las barreras nacionales que enfrentan los comerciantes cuando utilizan las reglas Incoterms® 2010.</p>
        </div>
        <div class="clip_frame clearfix grpelem" id="u919"><!-- image -->
            <div id="u919_clip">
                <a href="n-27may14.html"</a><img class="position_content" id="u919_img" src="/images/banner-noticia-2014.jpg" alt="" width="687" height="397"/>
            </div>
        </div>
    </div>
    <div class="Container invi clearfix grpelem" id="u1009"><!-- group -->
        <div class="gradient clearfix grpelem" id="u1014-10"><!-- content -->
            <p id="u785">&nbsp;</p>
            <p id="u785-3">Postura ICC México</p>
            <p id="u785-4">&nbsp;</p>
            <p id="u785-5">&nbsp;</p>
            <p id="u785-8">Durante el desarrollo del evento se presentaron grandes inquietudes y puntos controversiales de parte de los expertos, integrantes del sector energético, en relación con las iniciativas de las leyes secundarias.</p>
        </div>
        <div class="clip_frame clearfix grpelem" id="u919"><!-- image -->
            <div id="u919_clip">
                <a href="n-10jun14.html"</a><img class="position_content" id="u919_img" src="/images/banner-postura-2014.jpg" alt="" width="687" height="397"/>
            </div>
        </div>
    </div>
</div> <!-- fin del carrusel principal -->