<ul id="carruselPrincipal" class="fondo_carrusel_principal">
    {% for galeria in pagina.galerias %}
    <li style="width: 1024px;" class="item-carrusel fondo_carrusel_principal"><!-- group -->
        <a href="{{galeria.descripcion}}">
        <img class="position_content" id="u90{{galeria.id}}_img" src="{{galeria.webPath}}" alt="" width="1024" height="397"/>
        </a>
    </li>
    {% endfor %}
</ul>
