<div class="clearfix colelem" id="pu417"><!-- group -->
    <div class="clearfix grpelem" id="u417"><!-- group -->
        <div class="clip_frame grpelem" id="u1805"><!-- image -->
            <img class="block" id="u1805_img" src="/images/pasted%20image%20500x500.png" alt="" width="18" height="18"/>
        </div>
        <div class="clearfix grpelem" id="u1776-14"><!-- content -->
            <p id="u1776-2">Síguenos en:</p>
            <p id="u1776-5"><a class="nonblock" href="https://twitter.com/ICCMEXICO">Twitter</a></p>
            <p id="u1776-8"><a class="nonblock" href="https://www.facebook.com/pages/ICC-M%C3%A9xico/149175608474960">Facebook</a></p>
            <p id="u1776-10">LinkedIn</p>
            <p id="u1776-12">Youtube</p>
        </div>
    </div>
    <div class="clearfix grpelem" id="u1759-13"><!-- content -->
        <p id="u1759-2">ICC México</p>
        <p><a class="nonblock" href="quienes-somos.html">¿Quiénes Somos?</a></p>
        <p><a class="nonblock" href="http://www.iccmex.mx/password.php">Intranet</a></p>
        <p><a class="nonblock" href="contacto.html">Pasantías</a></p>
    </div>
    <div class="clearfix grpelem" id="u1774-16"><!-- content -->
        <p id="u1774-2">Acceso Rápido</p>
        <p><a class="nonblock" href="afiliece-a-la-icc.html">¿Cómo ser Socio?</a></p>
        <p><a class="nonblock" href="patrocinio.html">Oportunidades de Patrocinio</a></p>
        <p><a class="nonblock" href="libreria.html">Publicaciones ICC</a></p>
        <p><a class="nonblock" href="incoterms.html">Incoterms® 2010</a></p>
    </div>
    <div class="clearfix grpelem" id="u1775-16"><!-- content -->
        <p id="u1775-2">Servicios ICC</p>
        <p><a class="nonblock" href="herramientas-para-el-comercio.html">Herramientas para el comercio</a></p>
        <p><a class="nonblock" href="combate-al-crimen-comercial.html">Combate al crimen comercial</a></p>
        <p><a class="nonblock" href="cursos-online.html">Capacitación en linea</a></p>
        <p id="u1775-14"><a class="nonblock" href="arbitraje-icc.html">Solución de Controversias Internacionales</a></p>
    </div>
    <div class="clip_frame clearfix grpelem" id="u1791"><!-- image -->
        <div id="u1791_clip">
            <img class="position_content" id="u1791_img" src="/images/captura%20de%20pantalla%202013-09-03%20a%20las%20191548.jpg" alt="" width="1024" height="194"/>
        </div>
    </div>
    <div class="clip_frame clearfix grpelem" id="u1796"><!-- image -->
        <div id="u1796_clip">
            <img class="position_content" id="u1796_img" src="/images/captura%20de%20pantalla%202013-09-03%20a%20las%20191548.jpg" alt="" width="1024" height="194"/>
        </div>
    </div>
    <div class="clip_frame clearfix grpelem" id="u1799"><!-- image -->
        <div id="u1799_clip">
            <img class="position_content" id="u1799_img" src="/images/captura%20de%20pantalla%202013-09-03%20a%20las%20191548.jpg" alt="" width="1024" height="194"/>
        </div>
    </div>
</div>
<div class="clearfix colelem" id="u419"><!-- group -->
    <div class="clearfix grpelem" id="u1758-12"><!-- content -->
        <p>International Chamber of Commerce México (ICC México)</p>
        <p>Indiana 260, Piso 5, Oficina 508, Colonia Ciudad de los Deportes C.P. 03710 ,México, D.F.</p>
        <p>Tel: +5255 5687 2203 | 5687 2207 | 5687 2601 | 5687 2507 |5687 2321</p>
        <p>Fax: +5255 5687 2628&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="nonblock" href="mailto:iccmex@iccmex.org.mx">&nbsp; iccmex@iccmex.org.mx</a></p>
    </div>
</div>