<div class="clearfix colelem" id="ppu1571-8"><!-- group -->
    <div class="clearfix grpelem" id="pu1571-8"><!-- column -->
        <div class="clearfix colelem" id="u1565-6"><!-- content -->
            <p id="u1565-2">Postura Institucional de ICC México sobre la Reforma Energética</p>
            <p>&nbsp;</p>
            <p id="u1565-4">16 de mayo de 2014</p>
        </div>
        <div class="clearfix colelem" id="u1562-6"><!-- content -->
            <p>Uno de los principales motores del desarrollo económico de cualquier país es, sin duda, el sector energético; la actividad económica emana, se nutre y retroalimenta de las fuentes de energía con que cuenta, desarrolla y consume. <a class="nonblock" href="n-16may14.html">Ver más</a></p>
        </div>
    </div>
</div>