{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
<div class="row newsletter">
    <div class="col-xs-8">
        <div class="row">
        {% include 'FrontendBundle:Default:formNewsletter.html.twig' with {'form': form } %}
        </div>
        <div class="row padding">
            {{pagina.contenido | raw }}
        </div>
    </div>
    <div class="col-xs-4 menu_fondo">
        {% include 'FrontendBundle:Default:aside.html.twig' %}        
    </div>
</div>    
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
<script>
    function iniciarlizarFormNewsletter(){
        $("input.form-submit").click( function() {
            $('img.ajax-loader').css({visibility: 'visible'});
            $("img.ajax-loader").fadeIn("fast",function(){
                $.post("{{path('frontend_newsletter')}}",$("form.form-newsletter").serialize())
                .done(function(data){
                    //alert(data);
                    actualizaFormularioNewsletter(data);
                    setTimeout(function(){
                        $("#formulario_newsletter").find(".form-response-output").fadeOut("fast");
                    },2000);
                    
                })
                .fail(function(data) {
                    alert( "error" );
                    console.log(data);
                 });    
            });
        });
    }

    function actualizaFormularioNewsletter(data){
      $("#formulario_newsletter").parent().html(data).fadeIn("fast");
      iniciarlizarFormNewsletter();
    }
$(document).on('ready',iniciarlizarFormNewsletter); 


</script>
{% endblock %}
